* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1680px;
    height: 905px;
    margin: 0 auto;
    overflow: hidden;
}

.image_wrapper {
    width: 11760px;
    height: 905px;
    animation: exercise 14s infinite;
}

img {
    float: left;
    width: 1680px;
    height: 905px;
}

@keyframes exercise {
    0%, 10.6% {
        margin-left: 0px;
    }
    16.6%, 27.2% {
        margin-left: -1680px;
    }
    33.2%, 43.8% {
        margin-left: -3360px;
    }
    49.8%, 60.4% {
        margin-left: -5040px;
    }
    66.4%, 77% {
        margin-left: -6720px;
    }
    83%, 93.6% {
        margin-left: -8400px;
    }
    99.6%, 100% {
        margin-left: -10080px;
    }
}