.container {
    width: 85%;
    height: 100%;
    display: flex;
    position: relative;
    margin: 0 auto;
}

.main {
    width: 100%;
    height: 100%;
    padding-top: 30px;
}

.article {
    width: 90%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.article_title {
    width: 100%;
    height: 60px;
    position: relative;
    background-color: rgb(250, 250, 250);
    border-style: solid;
    border-left-width: 5px;
    border-left-color: rgb(44, 166, 203);
    border-bottom-width: 1px;
    border-bottom-color: rgb(44, 166, 203);
    border-top-style: none;
    border-right-style: none;
    display: table;
}

.article_title > div {
    display: table-cell;
    vertical-align: middle;
    padding-left: 5%;
}

.article_title > div > h3 {
    margin: 0;
    color: rgb(44, 166, 203);
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 30px;
}

.article_wrapper {
    width: 100%;
    min-height: 170px;
    padding-top: 10px;
    position: relative;
    background-color: rgb(250, 250, 250);
}

.article_content {
    width: 90%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.top_wrapper {
    position: fixed;
    z-index: 5;
    background-color: gray;
    width: 60px;
    height: 60px;
    border-style: solid;
    border-width: 0;
    border-radius: 10px;
    top: 90%;
    right: 20px;
    cursor: pointer;
    display: none;
}

.top{
    position: relative;
    width: 100%;
    height: 100%;
}

.top > img {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

@media only screen and (max-width: 1100px) {

    .container {
        width: 90%;
    }

    .article {
        width: 100%;
        margin: 0;
    }

    .article_title > div > h3 {
        font-size: 24px;
    }

    .top_wrapper {
        width: 48px;
        height: 48px;
        top: 90%;
    }


}